dist
dist-*
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
*.spec
.hpc
.hsenv
groot.cabal
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
.vagrant/
.idea/
*.iml
cabal.project.local
.HTF/
.ghc.environment.*
_cache
_site
